# Ambiente virtual
venv/
env/
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Dados brutos
data/

# Banco de dados local
*.db

# VS Code / Cursor
.vscode/
.cursor/

# Docker
*.log

# Sistema
.DS_Store
Thumbs.db